**/build/
.dart_tool/
.packages
.pub-cache/
flutter_*.png
.idea/

# Android specific
android/.gradle
android/key.properties
# android/local.properties # Usually handled by Flutter tool, but good to ensure